<header>
    <h3><center>Curso BackEnd Basico - grupo 2</center></h3>
    <ul class="nav justify-content-center">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">Acerca de</a>
        </li>
      </ul>
</header>