<br>
<p class="text-center text-muted">(c) Copyringht 2023 Curso Backend Basico</p>
<p class="text-center text-muted">Direccion: Calle x con Carrera y # z</p>
<p class="text-center text-muted">Telefonos: 601-1234567</p>